p {
  color: black;
}

/* product section content */
.product-section {
  padding: 32px 0px;
}

.product-section img {
  width: 100%;
}

.product-section p {
  font-family: Nunito;
  line-height: 1.3em;
  font-size: 16px;
  letter-spacing: normal;
}

.main_product-container {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 678px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: block;
  }

  .main_product-container {
    flex-direction: column;
    gap: 16px;
  }
}

/* <!-- left content --> */
/* mobile */
.single-item {
  width: 100%;
}

.slide {
  aspect-ratio: 1 / 1;
  background: #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
}

.slide-preview{
  overflow: hidden;
  margin: 8px 4px 0;
  border-radius: 8px;
}

/* desktop */
.product-nutrition-info {
  position: absolute;
  bottom: 32px;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 8px;
  line-height: 1.2em;
  max-width: 290px;
  padding: 8px 24px;
  background: #ffffffd9;
  border: 1px solid black;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
}

.product-nutrition-info img {
  width: 24px;
  height: 24px;
}

.product-nutrition-info span {
  display: flex;
  align-items: center;
}

/* <!-- right content --> */
.main-product-review {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.main-product-title {
  font-size: 28px;
  line-height: 1.4em;
  font-family: Lora;
  font-weight: 400;
  margin: 16px 0px;
}

.product_badge {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 100%;
  max-width: 120px;
  display: block;
}

@media (max-width: 768px) {
  .product_badge {
    max-width: 80px;
  }
}

/* main product feature line */
.product-feature-line {
  display: flex;
  align-items: center;
  gap: 12px;
  /* margin: 16px 0; */
}

.product-feature-line > div:nth-child(1) {
  width: 10%;
}

.product-feature-line > div:nth-child(2) {
  width: 100%;
}

.product-plan-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--color-pale-cream);
  margin-bottom: 16px;
  margin-top: 12px;
}

.cart-product-plan {
  display: flex;
  border-radius: 12px;
  border: 1px solid var(--color-green);
  overflow: hidden;
  flex-direction: column;
  background-color: white;
  margin-bottom: 12px;
}

.cart-product-plan input[type="radio"] {
  width: 26px;
  height: 26px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 2px solid var(--color-green);
  border-radius: 50%;
  padding: 3px;
  background-clip: content-box;
}

.product-plan-benefit-item {
  display: flex;
  background-color: var(--color-green);
  padding: 4px 8px;
  gap: 8px;
  align-items: center;
  opacity: 60%;
}

.product-plan-benefit-item > div:nth-child(1) {
  width: 34px;
}

.product-plan-benefit-item > img {
  width: 100%;
}

.product-plan-benefit-item > div:nth-child(2) {
  width: 100%;
}

.product-plan-benefit-item p {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  line-height: 1em;
}

.product-selector-title {
  margin: 0;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 600;
  font-family: sans-serif;
}

.product-selector-info {
  font-size: 12px !important;
}

.product-selector-compare {
  font-size: 14px !important;
  text-decoration: line-through;
  text-align: end;
}

.cart-product-plan input[type="radio"]:checked {
  background-color: var(--color-green);
}

.cart-product-plan:has(input[type="radio"]:checked) .product-plan-benefit-item {
  opacity: 1;
}

.deliver-icon {
  width: 33;
  height: 18;
  fill: none;
}

.delivery_Date {
  background-color: var(--color-green);
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
}

.btn-add-to-cart {
  background: #000;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  text-align: center;
  margin-top: 12px;
  transition: all 0.2s;
}

.product_atc-refills p {
  letter-spacing: 0.06rem;
}

.product-atc-icon {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.product-atc-icon img {
  width: 20px;
}
/*  */
.main_product-review {
  background-color: var(--color-pale-cream);
  border-radius: 12px;
  padding: 12px;
  margin-top: 24px;
  display: block;
}

.main_product-review p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.3em;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 600;
}

.main_product-review :nth-child(3) {
  margin-bottom: 0px;
  margin-top: 0;
  line-height: 1.3em;
  font-size: 16px;
  letter-spacing: 0;
}

.info-client-review {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.info-client-review > div:nth-child(1) {
  width: 15%;
  padding-bottom: 10px;
}

.info-client-review > div:nth-child(2) {
  width: 100%;
}

.info-client-review > div:nth-child(2) div {
  margin: 0;
  display: flex;
  gap: 8px;
  font-size: 16px;
  line-height: 1.3em;
}

.info-client-review > div:nth-child(2) div img {
  width: 120px;
  margin-top: 0px;
}

.info-client-review > div:nth-child(2) img {
  width: 100px;
  margin-top: 6px;
}
/*  */
.product-tab-block {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 32px;
  border: 1px solid var(--color-gray);
  cursor: pointer;
}

.product-tab-block.active {
  border: 1px solid var(--color-green);
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  transition: max-height 0.4s ease, padding-top 0.3s ease;
}

.product-tab-block.active .tab-content {
  max-height: 1200px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-tab-block.active .tab-thumb img {
  transform: rotate(45deg);
}

.tab-thumb {
  display: flex;
  justify-content: space-between;
}

.tab-thumb img {
  width: 24px;
  display: block;
  transition: all 0.2s;
}

.tab-content p {
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 0;
}

.tab-content ul {
  display: block;
  list-style-type: disc;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.tab-content ul li {
  display: list-item;
  unicode-bidi: isolate;
}

.tab-content ul li strong {
  color: var(--color-dark-text);
}

.active .tab-content {
  display: block;
}
/*  */

.nutrition_popup-outer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000b3;
  z-index: 99999;
  justify-content: center;
  align-items: center;
}

.nutrition_popup-outer.active {
  display: flex;
}

.nutrition_popup-inner {
  width: 100%;
  max-width: 450px;
  padding: 16px;
  border-radius: 12px;
  position: relative;
  background: #fff;
}

.nutrition_popup-inner h2 {
  font-family: lora;
  font-size: 28px;
}

.nutrition_popup-close {
  position: absolute;
  width: 24px;
  right: 8px;
  top: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  border-radius: 50%;
  border: 1px solid #d5416e;
}

.main_product-btn {
  display: block;
  padding: 20px;
  cursor: pointer;
  margin: 16px 0;
  background: #000;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
}

.main_product-points {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.main_product-point-line p {
  font-size: 12px !important;
  margin: 0;
  line-height: 1.3em;
}

.main_product-point-line {
  display: flex;
  align-items: center;
  gap: 4px;
}

.main_product-point-line > div:nth-child(1) {
  width: 16px;
  display: flex;
}
